general:
  database:
    sqltype: sqlite #sqlite, mariadb, mysql or postgres
    client: null # mariadb, pymysql or psycopg2
    user_name: null
    password: null
    host: localhost
    port: 5432
    db_name: ExampleDB

  operation_settings:
    frequency: once # once or any number in minutes
    interval: days # minutes, hours, days, weeks, months
    timeout: 10
    enable_logging: false
    asynchronously: true

jobs:
  ExchangeListingExample:
    request_method: historic_rates # ticker, trades, order_books, historic_rates
    update_cp: false
    exchanges: all # all or an arbitrary list of exchanges
    excluded: coingecko, coinpaprika
    currency_pairs: null # all or an arbitrary list of currency-pairs
    first_currencies: btc, link, eth, atom, bch, xrp, ltc, xlm, doge, ada
    second_currencies: usd, usdt
